#hnmain {  // hacker news
    zoom: 120%;
    .title a:link, .c00, .c00 a:link {color: #FFF}
    [action="comment"] {display:none}
}

#app-mount { //discord
    --background-primary: var(--bg_hover);
    --bg-overlay-2: var(--background-primary);
    --background-tertiary: var(--background-primary);
    --background-secondary: var(--background-primary);
    --background-secondary-alt: var(--background-primary);
    --channeltextarea-background: var(--background-primary);

    font-family: "Ubuntu Mono";
    $aria: gift, Help, Inbox;
    @each $i in $aria {[aria-label$="#{$i}"] {display: none}}
    [aria-label="Servers"] ~ div { display: none }
    [class^="private"] [class^="search"], [href="/store"], [href="/shop"] {display: none}
}

.docs-gm > #sheets-viewport > div { display: unset !important; }
.doc-content {max-width: 666pt !important; margin: auto} // better docs mobile
body:has(> p.author) { max-width: 60em; margin: auto; zoom: 110%; } // arista aids
body>nav:nth-child(1), .docs-ml-header {position: absolute} // lock sticky navbars
ul.js-show-external { display: unset } // show annas external
// .bridge-card { form, h5 {display:revert} .showmore {display:none} } // show rss-bridges

// hide ads
$class: -container, -frame-container, -panel, -slot, sbygoogle, box, unit, unit-wrapper;
$id: ads, leaderboard, player-ads, rc-row-container;
$div: 'class*=-ad-container', 'class*=ad-wrapper', 'id*=_ad_native',
'id^=div-gpt-ad', 'id^=google_ads_', 'id^=netboard_', 'id^=skyscraper';
@each $i in $class {.ad#{$i} {display:none}}
@each $i in $div {div[#{$i}] {display:none}}
@each $i in $id {##{$i} {display:none}}

div#outer.wrapper { //ao3
    zoom: 110%;
    #admin-banner, #header ul.primary, #bookmark-form fieldset > dl {display:none}
    #workskin {zoom: 125%; max-width: 40em;}
    p.kudos {overflow-wrap: break-word}
    select { background: none; color: #FFF; }
    ul.work { // modified work header w/ nav and epub
        .download li:not(:nth-child(2)), a.collapsed, li.share {display: none}
        ul.secondary { border: none; display: unset; position: static; }
    }
}

[data-csrf-token] { // miniflux
    @media (prefers-color-scheme: dark) {
        --body-background: #000;
        --current-item-border-color: #c88aff;
        --text-color: #EEE;

        --entry-content-color: var(--text-color);
        --link-color: var(--text-color);
        --title-color: var(--text-color);
    }
    .logo a span:not(:hover), .logo a:hover { color: mediumpurple }

    // remove padding between webcomic images for comic category
    &:has(.entry-meta [href="/category/74/entries"]) article { font-size: 0 }

    #grease-anchor { color: var(--counter-color); margin-inline-start: 4px; }
    h1, h2, h3, h4, h5, h6 { &:not(:hover) #grease-anchor {display: none}}
}
