#hnmain {  // hacker news
    zoom: 120%;
    background: #212121 !important;
    td[bgcolor="#ff6600"] {background: #4b5762 !important}
    .title a:link, .c00, .c00 a:link {color: #FFF !important}
    [action="comment"] {display:none}
}

#app-mount { //discord
    --background-primary: #27212d;
    --background-tertiary: var(--background-primary);
    --background-secondary: var(--background-primary);
    --channeltextarea-background: #4a3657;
    --background-secondary-alt: var(--background-secondary);

    font-family: "Ubuntu Mono";
    $aria: gift, Help, Inbox;
    @each $i in $aria {[aria-label$="#{$i}"] {display: none}}
    [class^="private"] [class^="search"], [href="/store"], [href="/shop"] {display: none}
    [aria-label="Servers"] + div { display: none; + div { display: none; + div + div { display: none; } } }
}

div.doc-container div.doc div {max-width: 666pt !important; margin: auto} // better docs mobiles
.docs-gm > #sheets-viewport > div { display: unset !important; }
.bridge-card, section[id^="bridge-"] { form, h5 {display:revert} .showmore {display:none} } // show rss-bridges
#years-table { .detail-view-container { display: flex } td { background-image: unset } } //quatalog detailed view

/* hide ads and invidious recommends */
$class: ad-frame-container, ad-panel, ad-slot, adsbygoogle, adbox, adunit,
adunit-wrapper, b_ad, leaderboard, "pure-u-lg-1-5:nth-child(3)", verified-icon;
@each $i in $class {.#{$i} {display:none}}

$div: 'class*=-ad-container', 'class*=ad-wrapper', 'id*=_ad_native',
'id^=div-gpt-ad', 'id^=google_ads_', 'id^=netboard_', 'id^=skyscraper';
@each $i in $div {div[#{$i}] {display:none}}

$id: ads, leaderboard, player-ads, rc-row-container;
@each $i in $id {##{$i} {display:none}}
/* --------------------------------- */

div.container > div.conversation > div#r.replies { display: none } //nitter replies
body>nav:nth-child(1):not([class]) {position: absolute} // nitter/libreddit/librex
body {
    --bg_panel: #232531;
    --bg_overlays: var(--bg_panel);
    --background: var(--bg_color);
    --foreground: var(--bg_hover);
    --green: var(--accent);
    --highlighted: var(--bg_hover);
    --outside: var(--post);
    --post: #333544;
    --panel-border: var(--post);
    --shadow: 0 1px 3px #00000055;
}

[id^="streamEntryBody"] {display: none} // lms show grades
.stream-grade.ng-hide { display: flex !important }

body>div#outer.wrapper { //ao3
    zoom: 110%;
    background: #000;
    color: #fff;
    #workskin {
        zoom: 125%;
        max-width: 40em;
    }
    p.kudos {
        overflow-wrap: break-word;
    }
    #inner .actions, fieldset {
        a, select, input, span.current {
            background: #000;
            border: 1px solid #222;
            border-radius: .25em;
            color: #fff;
            box-shadow: none;
        }
    }
    a, fieldset, .comment, textarea, h4.byline, .navigation, #footer, .menu,
    a:hover, [role="menu-item"] a, .bookmark, .reading h4.viewed, ol.index.group { 
        background: #000;
        color: #fff;
    }
    fieldset, #user-bookmarks, .bookmark .user, .listbox, .listbox.index {
        background: #000;
        border: 1px solid #555;
        box-shadow: none;
        ol.index.group {box-shadow: none}
        ul.index.group {box-shadow: none; background: #000;}
        button, h3 {color: #fff}
    }

    dl.meta, li.blurb, li.comment {border-color: #555}
    a:visited, .work > li > div.header h4 a:visited {color: #999}
    #admin-banner, #header > nav > ul.primary {display:none}
    h1.heading a, .splash .module h3, a:hover, li > div.header h4 a {color: MediumPurple}
    .secondary {box-shadow:none;background: #000;}
    #dashboard {border:none; .navigation.actions {border-top:none}}
    .user.home h2 {border-bottom: none}


    ul.work > li {
        &.share {display: none}
        a.collapsed {display: none}
        ul.secondary {
            border: none !important;
            display: inline !important;
            position: static;
            &:not(#chapter_index) > li:not(:nth-child(2)) {display: none}
        }
    }
    #main > div.splash > div.module:not(.readings) {display: none}
    #main > div.splash > div.module.readings {width:100%}
    #bookmark-form > form > fieldset > fieldset:nth-child(4) {display:none}

    .wrapper, .toggled, .toggled form {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

[data-csrf-token] { // miniflux
    background: #000;
    color: #EEE;
    --entry-content-color: #EEE;
    --title-color: #EEE;
    --link-color: #EEE;

    select, textarea, input{
        background: #000 !important;
        color: #fff !important;
    }

    .item { border: 1px dotted #666}
    a:link {color: rgb(221, 221, 221);}
    .item-status-read .item-title > a:link {color: rgb(155, 148, 148);}
    .logo a span, .logo a:hover { color: #c88aff; }

    &:has(.entry-meta > .category > a[href="/category/74/entries"]) .entry-content {
        font-size: 0;
    }
} 
