#hnmain {  // hacker news
    zoom: 120%;
    .title a:link, .c00, .c00 a:link {color: #FFF }
    [action="comment"] {display:none}
}

#app-mount { //discord
    --background-primary: var(--bg_hover);
    --bg-overlay-2: var(--background-primary);
    --background-tertiary: var(--background-primary);
    --background-secondary: var(--background-primary);
    --background-secondary-alt: var(--background-primary);
    --channeltextarea-background: var(--background-primary);

    font-family: "Ubuntu Mono";
    $aria: gift, Help, Inbox;
    @each $i in $aria {[aria-label$="#{$i}"] {display: none}}
    [class^="private"] [class^="search"], [href="/store"], [href="/shop"] {display: none}
    [aria-label="Servers"] ~ div { display: none }
}

div.doc-container div.doc div {max-width: 666pt !important; margin: auto} // better docs mobile
.docs-gm > #sheets-viewport > div { display: unset !important; }
// .bridge-card { form, h5 {display:revert} .showmore {display:none} } // show rss-bridges
#years-table { .detail-view-container { display: flex } td { background-image: unset } } //quatalog detailed view
ul.js-show-external { display: unset } // show annas external

/* hide ads and invidious recommends */
$class: ad-frame-container, ad-panel, ad-slot, adsbygoogle, adbox, adunit,
adunit-wrapper, b_ad, leaderboard, "pure-u-lg-1-5:nth-child(3)", verified-icon;
@each $i in $class {.#{$i} {display:none}}

$div: 'class*=-ad-container', 'class*=ad-wrapper', 'id*=_ad_native',
'id^=div-gpt-ad', 'id^=google_ads_', 'id^=netboard_', 'id^=skyscraper';
@each $i in $div {div[#{$i}] {display:none}}

$id: ads, leaderboard, player-ads, rc-row-container;
@each $i in $id {##{$i} {display:none}}
/* --------------------------------- */

div.container > div.conversation > div#r.replies { display: none } //nitter replies
body>nav:nth-child(1):not([class]) {position: absolute} // nitter/libreddit/librex

[data-csrf-token] { // miniflux
    --body-background: #000;
    --current-item-border-color: #c88aff;
    --text-color: #EEE;

    --entry-content-color: var(--text-color);
    --link-color: var(--text-color);
    --title-color: var(--text-color);

    .logo a span, .logo a:hover { color: var(--current-item-border-color) }

    // remove padding between webcomic images for comic category
    &:has(.entry-meta > .category > a[href="/category/74/entries"]) .entry-content {
        font-size: 0;
    }

    #grease-anchor {
        margin-inline-start: 4px;
        color: var(--category-link-color);
        display: none;
    }
    h1, h2, h3, h4, h5, h6 {
        &:hover {
            #grease-anchor { display: unset }
        }
    }
}

div#outer.wrapper { //ao3
    #admin-banner, #header > nav > ul.primary {display:none}
    #bookmark-form fieldset > dl {display:none}
    #workskin {zoom: 125%; max-width: 40em;}
    p.kudos {overflow-wrap: break-word}
    select {background: none }
    zoom: 110%;
    ul.work {
        .download li:not(:nth-child(2)) {display: none}
        a.collapsed {display: none}
        li.share {display: none}
        ul.secondary {
            border: none;
            display: unset;
            position: static;
        }
    }
}
