[user]
    email = phantop@tuta.io
    name = Phantop
[credential]
    helper = store
[core]
    quotepath = false
    commitGraph = true
[gc]
    writeCommitGraph = true
[cola]
    spellcheck = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[url "https://aur.archlinux.org/"] 
    insteadOf = "aur:" 
[url "http://dev.getsol.us/source/"]
    insteadOf = "solus:"
    insteadOf = "sol:"
[url "https://github.com/"]
    insteadOf = "github:"
    insteadOf = "hub:"
    insteadOf = "gh:"
[url "https://gitlab.com/"]
    insteadOf = "gitlab:"
    insteadOf = "lab:"
    insteadOf = "gl:"
[color]
    ui = auto
[alias]
    a = commit -a
    ad = add
    b = branch
    c = commit
    ca = commit --amend
    ch = checkout
    cl = gc --aggressive --prune=now
    g = clone
    l = log
    p = pull
    pu = push
    puf = push -f
    r = reset --hard
    s = status
    su = submodule update --init --recursive
    w = clean -fdx
[pull]
    rebase = false
