[Desktop Entry]
Name[af]=Universele toegang
Name[an]=Acceso universal
Name[ar]=الإتاحة
Name[as]=সাৰ্বভৈমক অভিগম
Name[ast]=Accesu universal
Name[be]=У­ні­вер­саль­ны дос­туп
Name[bg]=Универсален достъп
Name[bn]=সর্বজনীনে প্রবেশ
Name[bn_IN]=সার্বজনীন ব্যবহারাধিকার
Name[bs]=Opšti pristup
Name[ca]=Accés universal
Name[ca@valencia]=Accés universal
Name[crh]=Cihanşümul İrişim
Name[cs]=Univerzální přístup
Name[da]=Tilgængelighed
Name[de]=Barriere­frei­heit
Name[el]=Γενική πρόσβαση
Name[en_GB]=Universal Access
Name[eo]=Alirebleco
Name[es]=Acceso universal
Name[et]=Pärssimata juurdepääs
Name[eu]=Sarbide unibertsala
Name[fa]=دسترسی همگانی
Name[fi]=Esteettömyys
Name[fr]=Accès universel
Name[fur]=Acès universâl
Name[ga]=Rochtain Uilíoch
Name[gd]=Inntrigeadh uile-choitcheann
Name[gl]=Acceso universal
Name[gu]=સાર્વત્રિક વપરાશ
Name[he]=גישה אוניברסלית
Name[hi]=सार्वभौमिक पहुँच
Name[hr]=Univerzalni pristup
Name[hu]=Akadály­mentesítés
Name[hy]=Համընդհանուր Հասանելիություն
Name[id]=Akses Universal
Name[is]=Altækur aðgangur
Name[it]=Accesso universale
Name[ja]=ユニバーサルアクセス
Name[kk]=Арнайы мүмкіндіктер
Name[km]=ចូល​ដំណើរការ​សកល
Name[kn]=ಜಾಗತಿಕ ನಿಲುಕಣೆ
Name[ko]=접근성
Name[ky]=Универсалдык жетүү
Name[lt]=Universali prieiga
Name[lv]=Universālā piekļuve
Name[mk]=Универзален пристап
Name[ml]=സാര്‍വ്വജനികലഭ്യത
Name[mr]=युनिवर्सल ॲकसेस
Name[ms]=Capaian Universal
Name[nb]=Universell tilgang
Name[ne]=विश्वब्यापी पहुँच
Name[nl]=Universele toegang
Name[nn]=Tilgjenge
Name[oc]=Accès universal
Name[or]=ସାର୍ବଜନିକ ଅଭିଗମ୍ୟତା
Name[pa]=ਯੂਨੀਵਰਸਲ ਅਸੈੱਸ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acesso universal
Name[pt_BR]=Acessibilidade
Name[ro]=Acces universal
Name[ru]=Универсальный доступ
Name[sk]=Bezbariérový prístup
Name[sl]=Posebne možnosti
Name[sr]=Универзални приступ
Name[sr@latin]=Univerzalni pristup
Name[sv]=Hjälpmedel
Name[ta]=உலகளாவிய அணுகல்
Name[te]=సార్వత్రిక ప్రాప్తి
Name[tg]=Дастрасии умумӣ
Name[th]=การเข้าถึงหลากหลาย
Name[tr]=Evrensel Erişim
Name[ug]=ئۇنىۋېرسال زىيارەت
Name[uk]=Універсальний доступ
Name[vi]=Hỗ trợ truy cập
Name[zh_CN]=通用辅助
Name[zh_HK]=無障礙功能
Name[zh_TW]=無障礙功能
Name=Universal Access
Comment[af]=Maak sien, hoor, tik, wys en klik makliker
Comment[an]=Fer mas sencillo de veyer, escuitar, escribir y apuntar y pretar
Comment[ar]=اجعل الرؤية و السماع و الكتابة و المؤشر أسهل
Comment[as]=চোৱা, শুনা, টাইপ কৰা, পোইন্ট আৰু ক্লিক কৰাটো সহজ কৰক
Comment[be]=Дапамога для зроку, слыху, уводу, а таксама кіравання паказальнікам мышы
Comment[bg]=По-лесно да се вижда, чува, въвежда текст, посочват и натискат обекти
Comment[bn_IN]=এটিকে দেখা, শোনা, ধরন, পয়েন্ট এবং ক্লিক করা সহজতর করুন
Comment[bs]=Omogući lakši pregled,zvuk,tip,usmjeri i klikni
Comment[ca]=Feu més fàcil veure, sentir, teclejar, apuntar i fer clic
Comment[ca@valencia]=Feu més fàcil veure, escoltar, teclejar, apuntar i fer clic
Comment[cs]=Usnadněte si čtení, poslech, psaní, klikání a další činnosti
Comment[da]=Gør det nemmere at se, høre, skrive, pege og klikke
Comment[de]=Sehen, Hören, Tippen, Zeigen und Klicken erleichtern
Comment[el]=Κάντε πιο εύκολη την προβολή, την ακρόαση, την πληκτρολόγηση, την κατάδειξη και το κλικ
Comment[en_GB]=Make it easier to see, hear, type, point and click
Comment[eo]=Fari ĝin pli facila por vidi, aŭdi, tajpi, fingromontri kaj alklaki
Comment[es]=Hacer más sencillo de ver, escuchar, escribir y apuntar y pulsar
Comment[et]=Nägemise, kuulmise, sisestamise ning klõpsamise lihtsustamine
Comment[eu]=Egin errazagoa ikusteko, entzuteko, idazteko, kokatzeko eta klik egiteko
Comment[fa]=ساده‌تر کردن دیدن، شنیدن، نوشتن، نشانه‌روی و کلیک
Comment[fi]=Helpota näkemistä, kuulemista, kirjoittamista ja hiiren käyttöä
Comment[fr]=Faciliter la vision, l’écoute, la saisie, la sélection et le clic
Comment[fur]=Al fâs diventâ plui facil viodi, sintî, digjitâ e fâ clic
Comment[gd]=Dèan nas fhasa e rudan fhaicinn, a chluinntinn, a sgrìobhadh, a thomhadh ’s a bhriogadh
Comment[gl]=Faga máis doado ver, escoitar, escribir, apuntar e clicar
Comment[gu]=તેને જોવા, સાંભળવા, ટાઇપ, નિર્દેશિત અને ક્લિક કરવાનું સરળ બનાવો
Comment[he]=להקל ראייה, שמיעה, הקלדה, הצבעה ולחיצה
Comment[hi]=इसे देखना, सुनना, प्रकार, बिंदु और क्लिक करें आसान बनाओ
Comment[hr]=Make it easier to see, hear, type, point and click
Comment[hu]=A látás, hallás, gépelés, mutatás és kattintás egyszerűbbé tétele
Comment[id]=Membuat lebih mudah untuk melihat, mendengar, mengetik, menunjuk, dan mengklik
Comment[is]=Gerir auðveldara að sjá, heyra, slá inn, benda og smella
Comment[it]=Rende più semplice vedere, ascoltare, digitare e fare clic
Comment[ja]=見る、聞く、タイピング、クリック操作など、コンピューターを簡単に使えるようにします
Comment[kk]=Көру, есту, теру, көрсету және шертуді жеңілдету
Comment[kn]=ನೋಡಲು, ಕೇಳಲು, ಬರೆಯಲು, ತೋರಿಸಲು ಮತ್ತು ಕ್ಲಿಕ್ ಮಾಡಲು ಸುಲಭಗೊಳಿಸು
Comment[ko]=보기, 듣기, 타이핑, 누르기 편의 사항
Comment[lt]=Padarykite matymą, išgirdimą, rašymą, rodymą ir spaudimą paprastesnį
Comment[lv]=Padarīt vienkāršāku redzēšanu, dzirdēšanu, rakstīšanu un klikšķināšanu
Comment[ml]=കാഴ്ച്ച, കേൾവി, മുദ്രണം, പോയിന്റ്, ക്ലിക്ക് എന്നിവ മെച്ചപെടുത്തുക
Comment[mr]=अवलोकन, ऐकणे, टाइप, पॉइंट आणि क्लिककरिता सोपे करा
Comment[ms]=Jadikannya mudah dilihat, didengar, ditaip, tuju dan diklik
Comment[nb]=Gjør det lettere å se, høre, skrive og peke og klikke
Comment[ne]=हर्न, सुन्न, टाईप, देखाउन र क्लिक गर्न सहज बनाउनुहोस्
Comment[nl]=Zien, horen, typen, aanwijzen en klikken vergemakkelijken
Comment[oc]=Facilitar la vision, l'escota, la picada, la seleccion e lo clic
Comment[or]=ଏହାକୁ ଦେଖିବା, ଶୁଣିବା, ଲେଖିବା, ଦର୍ଶାଇବା ଏବଂ କ୍ଲିକ କରିବା ପାଇଁ ସହଜମୟ କରନ୍ତୁ
Comment[pa]=ਵੇਖਣਾ, ਸੁਣਨਾ, ਲਿਖਣਾ, ਪੁਆਇੰਟ ਤੇ ਕਲਿੱਕ ਕਰਨਾ ਸੌਖਾ ਬਣਾਉ
Comment[pl]=Ułatwienia widzenia, słyszenia, pisania oraz wskazywania i klikania
Comment[pt]=Tornar mais simples ver, ouvir, escrever, apontar e clicar
Comment[pt_BR]=Torna mais fácil ver, ouvir, digitar, apontar e clicar
Comment[ro]=Facilitează vederea, auzul, tastatul, mutatul mausului și apăsarea clicului
Comment[ru]=Упрощение ввода, наведения и нажатия, а также улучшение видимости и слышимости
Comment[sk]=Uľahčuje videnie, písanie, počúvanie, ukazovanie a klikanie
Comment[sl]=Naj bo enostavnejše videti, slišati, tipkati, kazati in klikati
Comment[sr]=Олакшајте посматрање, слушање, куцање, указивање и кликање
Comment[sr@latin]=Olakšajte posmatranje, slušanje, kucanje, ukazivanje i klikanje
Comment[sv]=Gör det enklare att se, höra, skriva, peka och klicka
Comment[ta]=பார்ப்பது, கேட்பது, தட்டச்சு செய்வது, சுட்டுவது மற்றும் சொடுக்குவது அனைத்தையும் எளிதாக்கவும்
Comment[te]=చూడుటకు, వినుటకు, టైపునకు, సూచించుటకు మరియు నొక్కుటకు దీనిని సులభతరం చేయి
Comment[tg]=Осон кардани дидан, шунидан, нуқта гузоштан ва зер кардан
Comment[th]=ทำให้ง่ายต่อการเห็น, ได้ยิน, พิมพ์, ชี้ และคลิก
Comment[tr]=Görme, duyma, yazma, işaretleme ve tıklamayı kolaylaştır
Comment[uk]=Полегшує читання, слухання, набирання, наведення і натискання
Comment[vi]=Làm cho việc xem, nghe, gõ, di và bấm chuột trở nên dễ dàng hơn
Comment[zh_CN]=辅助视觉、听觉、打字和指点操作
Comment[zh_HK]=讓電腦更容易看、聽、輸入、指向與點選
Comment[zh_TW]=讓電腦更容易看、聽、輸入、指向與點選
Comment=Make it easier to see, hear, type, point and click
Exec=gnome-control-center universal-access
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=preferences-desktop-accessibility
Icon[be]=preferences-desktop-accessibility
Icon[gd]=preferences-desktop-accessibility
Icon[kk]=preferences-desktop-accessibility
Icon[lv]=preferences-desktop-accessibility
Icon[sr@latin]=preferences-desktop-accessibility
Icon[vi]=preferences-desktop-accessibility
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Universal Access
X-GNOME-Bugzilla-Version=3.36.1
# Translators: Search terms to find the Universal Access panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=لوحة المفاتيح;الفأرة;الإتاحة;التباين;التقريب;التكبير;قارئ الشاشة;النص;الخط;الحجم;مفاتيح ملتصقة;مفاتيح بطيئة;مفاتيح قافزة;مفاتيح الفأرة;
Keywords[ca]=Teclat;Ratolí;a11y;Accessibilitat;Contrast;Zoom;Pantalla;Lector;text;lletra;mida;AccessX;Tecles enganxoses;Tecles;Lent;Salt;Ratolí;Doble;clic;Retard;Assistència;Repetició;Parpelleig;visual;escoltar;àudio;teclejar;
Keywords[cs]=klávesnice;myš;a11y;přístupnost;kontrast;kurzor;zvuk;přiblížení;zvětšení;čtečka obrazovky;čtení obrazovky;text;velký;obrovský;písmo;font;velikost;přístup;zpřístupnění;kombinace kláves jedním prstem;pomalé klávesy;vícenásobná zmáčknutí kláves;klávesnice myší;dvojitý;klik;kliknutí;klepnutí;poklepání;prodleva;rychlost;asistent;opakování;blikání;blikat;poruchy;handicap;vidění;sluch;psaní;
Keywords[da]=Tastatur;Mus;a11y;Tilgængelighed;Kontrast;Cursor;Markør;Lyd;Zoom;Skærm;Skærmoplæser;stor;høj;Oplæser;tekst;skrifttype;størrelse;AccessX;Klæbetaster;Taster;Langsomme;Rystetaster;Ryste;Mus;Musetaster;Dobbelt;Dobbeltklik;Ventetid;Forsinkelse;Hjælp;Gentag;Blink;visuel;synlig;høre;hørelse;indtastning;
Keywords[de]=Tastatur;Maus;a11y;Barrierefreiheit;Kontrast;Klänge;Ton;Audio;Zoom;Vergrößern;Bildschirm;Bildschirmleser;Text;Schrift;Größe;AccessX;Klebrige Tasten;Tasten;Langsam;Springende Tasten;Tastaturmaus;Klick;Verzögerung;Assistent;Wiederholen;Blinken;Visuell;Tippen;
Keywords[el]=Πληκτρολόγιο;Ποντίκι;a11y;Προσιτότητα;Αντίθεση;Ήχος;Εστίαση;Οθόνη;Αναγνώστης;μεγάλο;ψηλό;μεγάλο;κείμενο;γραμματοσειρά;μέγεθος;AccessX;Κολλημένο;Πλήκτρα;Αργά;Αναπήδηση;Ποντίκι;Διπλό;κλικ;Καθυστέρηση;Ταχύτητα;Βοήθεια;Επανάληψη;Αναβοσμήσιμο;οπτικός;ακρόαση;ήχος;πληκτρολόγηση;Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
Keywords[en_GB]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
Keywords[eo]=Klavaro;Muso;a11y;Alirebleco;Kontrasto;Zomi;Ekrano;Legilo;teksto;tiparo;grando;AccessX;Fiksaj;Klavoj;Salti;Muso;Duobla;klaki;alklaki;Malfruo;Prokrasto;Asisto;Helpo;Ripeti;Pulsi;vida;aŭda;tajpi;
Keywords[es]=Teclado;Ratón;a11y;Accesibilidad;Contraste;Cursor;Sonido;Ampliación;Pantalla;Lector;grande;alto;texto;tipografía;AccesoX;persistentes;teclas;rechazo;ratón;doble;pulsación;retardo;velocidad;asistente;repetir;parpadeo;visual;audición;escritura;
Keywords[eu]=Teklatua;Sagua;a11y;Irisgarritasuna;Kontrastea;Kurtsorea;Soinua;Zooma;Pantaila;Irakurgailua;handia;altua;handia;testua;letra-tipoa;tamaina;AccessX;Itsaskorra;Teklak;Geldoa;Errebotea;Sagua;Bikoitza;klik;Atzerapena;Abiadura;Lagundu;Errepikatu;Keinua;bisuala;entzumena;audioa;idazketa;
Keywords[fa]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;صفحه‌کلید;موشی;دسترسی‌پذیری;سایه روشن;نشانگر;صدا;بزرگ‌نمایی;صفحه‌نمایش خوان;متن;قلم;اندازه;کلیدهای چسبان;کلیدهای آرام;کلیدهای پرشی;کلیدهای موشی;چشمک;سرعت;بینایی;شنوایی;صدا;تایپ;نوشتن;
Keywords[fi]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;Näppäimistö;Hiiri;a11y;Esteettömyys;saavutettavuus;Kontrasti;Zoom;Mittakaava;Lähennys;Loitonnus;Näytönlukija;teksti;fontti;kirjasin;koko;Pohjaan jäävät näppäimet;Hitaat näppäimet;Kimmonäppäimet;Hiiren painikkeet;kaksois;viive;vilkkuminen;kuuleminen;kirjoittaminen;
Keywords[fr]=Clavier;Souris;lien;Accessibilité;Contraste;Curseur;Son;Zoom;Lecteur d’écran;grand;haut;élevé;texte;police;taille;AccessX;Rémanentes;Touches;Lentes;Rebonds;Souris;Double;clic;Délai;Vitesse;Assistance;Répétition;Clignotement;visuel;écoute;audio;frappe;
Keywords[fur]=Tastiere;Mouse;a11y;Acessibilitât;Contrast;Cursôr;Sun;Ingrandiment;Zoom;Screen;Reader;Letôr;schermi;grant;alt;larc; test;caratar;font;dimension;AccessX;Tascj;Singui;Tacadiçs;Sticky;Lents;Slow;Sbalçâts;Bounce;Mouse;Dopli;clic;Ritart;Assist;Ripet;Lampâ;visuâl;sintî;audio;scriture;
Keywords[gl]=Teclado;Rato;a11y;Accesibilidade;Contraste;Cursor;Son;Ampliación;Lector de pantalla;texto;tipo de letra;tamaño;AccessX;Persistente;Lenta;Rexeite;Rato;Dobre;clic;atraso;asistencia;Repetición;Pestanexo;visión;audición;son;escrita;
Keywords[he]=מקלדת;עכבר;a11y;נגישות;ניגודיות;ניגוד;תקריב;זום;מקריא מסך;טקסט;גופן;גודל;AccessX;מקשים דביקים;מקשים אטיים;מקשים חוזרים;מקשי עכבר;לחיצה;כפול;כפולה;המתנה;מהירות;סיוע;חזרה;הבהוב;שמיעה;שמע;הקלדה;
Keywords[hr]=Tipkovnica;Miš;a11y;Pristupačnost;Kontrast;Uvećanje;Zaslon;Čitač;tekst;slova;veličina;AccessX;Pričvrstiv;Tipke;Sporo;Odbijanje;Miš;Dvostruko;klik;Odgoda;Pomoć;Ponovi;Blinkaj;vizualno;slušanje;zvuk;tipkanje;
Keywords[hu]=Billentyűzet;Egér;a11y;Akadálymentesítés;Kontraszt;Nagyítás;Képernyő;Olvasó;szöveg;betű;méret;AccessX;Ragadós;Billentyűk;Lassú;Pattogó;Egér;Dupla;Kattintás;Késleltetés;Kisegítő;Ismétlés;Villogás;vizuális;hallás;hang;írás;
Keywords[id]=Papan Tik;Tetikus;a11y;Aksesibilitas;Kontras;Kursor;Suara;Zum;Layar;Pembaca;besar;tinggi;besar;teks;fonta;ukuran;AccessX;Lengket;Tombol;Lambat;Pantul;Tetikus;Dobel;klik;Tunda;Kecepatan;Bantu;Ulangi; Berkedip;visual;mendengar;audio;mengetik;
Keywords[is]=Lyklaborð;Mús;a11y;Aðgengi;Birtuskil;Hljóð;Bendill;Aðdráttur;Skjár;Lesari;texti;letur;stærð;AccessX;Klístrað;Lyklar;Hægt;Endurtaka;Endurvarp;Tvísmella;smella;töf;hraði;Aðstoð
Keywords[it]=tastiera;mouse;a11y;accessibilità;contrasto;cursore;audio;suono;ingrandimento;high;elevato;grande;zoom;screen;reader;lettore;schermo;testo;font;tipo di carattere;dimensione;AccessX;tasti;singoli;sticky;lenti;slow;rimbalzati;slow;mouse;doppio;clic;ritardo;lampeggiare;ascoltare;digitare;
Keywords[ja]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;キーボード;マウス;アクセシビリティ;コントラスト;カーソル;サウンド;ズーム;拡大鏡;スクリーンリーダー;大きい;高;大きさ;テキスト;文字;フォント;サイズ;固定;キー;スロー;バウンス;ダブルクリック;ディレイ;遅延;速度;スピード;ユーザー支援;リピート;点滅;ビジュアル;視覚;ヒアリング;聴覚;音声;タイピング;Universal;ユニバーサルアクセス;
Keywords[kk]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;пернетақта;тышқан;қолжетерлілік;контраст;курсор;дыбыс;масштаб;экран;оқу;үлкен;жоғары;мәтін;қаріп;өлшем;жабысқақ;баяу;қайталанатын;қос;шерту;кідіріс;жылдамдық;көмекші;қайталау;жыпылықтау;визуалды;есту;аудио;теру;
Keywords[ko]=Keyboard;키보드;Mouse;마우스;a11y;Accessibility;접근성;Contrast;대비;Cursor;커서;Sound;소리;사운드;Zoom;확대;축소;Screen;Reader;스크린;리더;화면;읽기;big;high;large;text;큰;텍스트;font;size;폰트;글꼴;크기;AccessX;Sticky;Keys;고정;키;Slow;느린;Bounce;탄력;Mouse;마우스;Double;click;두번;누르기;Delay;Speed;Assist;지연;도우미;Repeat;반복;Blink;깜박;visual;hearing;audio;typing;시각;듣기;오디오;타이핑;
Keywords[lt]=Klaviatūra;Pelė;a11y;Prieinamumas;Kontrastas;Žymėklis;Garsas;Mastelis;Ekranas;Skaityklė;didelis;aukštas;tekstas;šriftas;dydis;AccessX;Kibūs;Klavišai;Lėtieji;Pasikartojantys;Pelė; Dvigubas;paspaudimas;Delsa;Greitis;Pagalba;Pasikartojimas;Mirksėjimas;vaizdinis;klausa;garsas;rašymas;
Keywords[lv]=Tastatūra;Pele;a11y;Pieejamība;Kontrasts;Kursors;Skaņa;Mērogs;Ekrāna lasītājs;liels;augsts;teksts;fonts;izmērs;AccessX;Lipīgie;Taustiņi;Lēnie;Atlecošie;Pele;Dubults;klikšķis;Aizture;Ātrums;Atkārtot;Mirkšķināt;vizuāls;dzirdes;audio;raksta;
Keywords[mjw]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
Keywords[ms]=Papan Kekunci;Tetikus;a11y;Kebolehcapaian;Beza Jelas;Kursor;Bunyi;Zum;Skrin;Pembaca;besar;tinggi;lebih besar;teks;fon;saiz;AccessX;Lekat;Kekunci;Lambat;Lantun;Tetikus;Dwi;klik;Lengah;Kelajuan;Bantuan;Ulang;Kerlipan;visual;pendengaran;audio;menaip;
Keywords[nb]=Tastatur;Mus;a11y;Tilgjengelighet;Kontrast;Markør;Lyd;Zoom;Skjerm;Leser;stor;høy;tekst;skrift;størrelse;AccessX;Klebrige;Taster;Trege;Sprett;Mus;Dobbeltklikk;Pause;Hastighet;Assister;Gjenta;Blink;visuell;hørsel;lyd;skriving;
Keywords[nl]=Keyboard;Mouse;a11y;Accessibility;Contrast;Zoom;Screen Reader;big;high;large;groot;hoog;text;font;size;AccessX;Sticky;Keys;Plaktoetsen;Slow;Trage toetsen;Bounce;Springende toetsen;Mouse;Double;click;Delay;Speed;snelheid;Assist;Repeat;Blink;Visual;visueel;hearing;horen;hoor;luisteren;audio;typing;typen;Muistoetsen;Toetsenbord;Toegankelijkheid;Tekst;Lettertype;vergroten;Dubbel;klik;Cursor;Sound;geluid;
Keywords[oc]=Clavièr;Mirga;ligam;Accessibilitat;Contraste;Cursor;Son;Zoom;Lector d’ecran;grand;naut;elevat;tèxte;poliça;talha;AccessX;Remanentas;Tòcas;Lentas;Rebombs;Mirgas;Doble;clic;Relambi;Velocitat;Assisténcia;Repeticion;Cluquejament;visual;escota;àudio;picada;
Keywords[pa]=ਕੀਬੋਰਡ;,ਮਾਊਸ;ਫੋਂਟ;ਟੈਕਸਟ;ਆਕਾਰ;ਕਰਸਰ;ਆਵਾਜ਼;ਸਾਊਂਡ;ਬਾਊਂਸ;ਕੀ-ਬੋਰਡ;ਸਵਿੱਚਾਂ,ਕੀ;ਅਸੈਸਬਲਿਟੀ;ਜ਼ੂਮ;ਡਬਲ ਕਲਿੱਕ;ਦੋਹਰਾ ਕਲਿੱਕ;ਦੇਰੀ;ਸਹਾਇਕ;ਰੀਡਰ;ਐਕਟਿਵਐਕਸ;ਹੌਲੀ;ਕਨਟਰਾਸਟ;ਦੁਹਰਾਉਣਾ;ਝਪਕਣਾ;ਦੁਹਰਾ;ਵੱਡੇ;ਵੱਡਾ;ਉੱਚ;ਹੋਰ ਵੱਡਾ;ਸਪੀਡ;ਗਤੀ;ਦਿੱਖ;ਸੁਣਨਾ;ਆਡੀਓ;ਲਿਖਣਾ;ਟਾਈਪ ਕਰਨਾ;ਟਾਈਪਿੰਗ;
Keywords[pl]=Klawiatura;Mysz;Myszka;a11y;Dostępność;Uniwersalny;Kontrast;Kursor;Wskaźnik;Dźwięk;Przybliżanie;Powiększanie;Lupa;Zoom;Czytnik;ekranowy;ekranu;duży;wysoki;wielki;tekst;text;większy;zwiększ;powiększ;czcionka;font;rozmiar;wielkość;AccessX;Trwałe;Klawisze;Powolne;Odbijające;Myszy;Podwójne;Dwukrotne;kliknięcie;Opóźnienie;Prędkość;Szybkość;Wspomaganie;Asysta;Powtarzanie;Miganie;wzrok;wizualne;słuch;dźwięk;audio;pisanie;klikanie;
Keywords[pt_BR]=Teclado;Mouse;a11y;Acessibilidade;Contraste;Cursor;Som;Zoom;Ampliação;Tela;Leitor;grande;alto;largo;texto;fonte;tamanho;AccessX;Teclas;Lentas;Repercussão;Duplo;Clique;Atraso;Assistência;Repetir;Piscar;visual;audição;áudio;digitalização
Keywords[ro]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;Tastatură;Maus;Accesibilitate;Ecran;Cititor;dimensiune;Lipicioase;Taste;Încet;Dublu;Asistență;Clipire;
Keywords[ru]=Клавиатура;Мышь;a11y;Специальные;возможности;Контрастность;Масштаб;Экран;Чтение;текст;шрифт;размер;AccessX;Залипающие;клавиши;Медленные;Отскакивающие;Мышь;Двойное;нажатие;Задержка;скорость;Помощь;Повтор;Мигающий;визуальный;слышимость;слух;аудио;набор;печать;
Keywords[sk]=Klávesnica;Myš;a11y;Zjednodušenie;Ovládanie;Prístupnosť;Kontrast;Lupa;Obrazovka;Čítačka obrazovky;text;písmo;veľkosť;AccessX;Lepkavé;Klávesy;Pomalé;Poskakujúce;Myš;dvojklik;dvojité;kliknutie;oneskorenie;asistencia;pomoc;opakovanie;blikanie;vizuálne;počúvanie;zvuk;písanie;
Keywords[sl]=tipkovnica;miška;a11y;dostopnost;kontrast;približanje;zaslon;bralnik;besedilo;pisava;velikost;AccessX;lepljive;počasne;odskočne;tipke;zamik;odskočne;dvojne;klik;ponovitev;zvok;tipkanje;tipkovnica,nastavitve;sluh;dostopnost
Keywords[sr]=тастатура;миш;a11y;приступачност;контраст;зум;читач;екран;текст;слова;величина;Икс_приступ;лепљиви;тастери;спори;одскочни;миш;двоструки;клик;застој;понови;трепни;визуелно;слух;аудио;звук;куцање;tastatura;miš;pristupačnost;kontrast;zum;čitač;ekran;tekst;slova;veličina;Iks_pristup;lepljivi;tasteri;spori;odskočni;miš;dvostruki;klik;zastoj;ponovi;trepni;vizuelno;sluh;audio;zvuk;kucanje;Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
Keywords[sv]=Tangentbord;Mus;a11y;Hjälpmedel;Kontrast;Markör;Zoom;Skärmläsare;stor;hög;text;typsnitt;storlek;AccessX;Klistriga;Tangenter;Tröga;Tangentstuds;Mustangenter;Dubbelklick;Fördröjning;Hastighet;Assistans;Upprepa;Blinka;visuell;hörsel;ljud;skrift;
Keywords[tr]=Klavye;Fare;a11y;e13k;Erişilebilirlik;Karşıtlık;İmleç;Ses;Yakınlaştırma;Ekran;Okuyucusu;büyük;yüksek;geniş;metin;yazıtipi;boyut;AccessX;Yapışkan;Tuşlar;Yavaş;Seken;Fare;Çift;tıklama;Gecikme;Hız;Yardım;Tekrar;Yinelenen;Yanıp sönme;Görsel;Duyma;Yazım;
Keywords[uk]=Клавіатура;Миша;a11y;Доступність;Контраст;Курсор;Звук;Масштаб;Екран;Читач;розмір;висота;великий;текст;шрифт;Доступ;Sticky;Клавіші;Повільно;Bounce;Подвійний;клік;Затримка;Швидкість;Допомога;Повторити;Blink;візуальний;слух;аудіо;введення;
Keywords[zh_CN]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;键盘;鼠标;无障碍;辅助功能;可访问;对比度;光标;声音;缩放;屏幕;读取器;阅读器;大;高;巨大;文本;文字;字体;大小;粘滞;按键;慢;回弹;鼠标;双击;点击;单击;延迟;速度;助手;重复;闪烁;可视化;视觉;听觉;音频;输入;打字;
Keywords[zh_TW]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;鍵盤;滑鼠;無障礙;對比;螢幕;閱讀器;文字;字型;大小;相黏;遲緩;反彈;滑鼠;雙擊;兩下;點按;延遲;助理;輔助;重複;閃動;游標;音效;大;高;速度;視覺;聽覺;音訊;音樂;輸入;
Keywords=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
