[Desktop Entry]
Name[af]=Krag
Name[an]=Enerchía
Name[ar]=الطاقة
Name[as]=শক্তি
Name[ast]=Enerxía
Name[be]=Энергія
Name[bn]=শক্তি
Name[bn_IN]=পাওয়ার
Name[bs]=Napajanje
Name[ca]=Energia
Name[crh]=Qudret
Name[cs]=Napájení
Name[da]=Strøm
Name[de]=Energie
Name[el]=Ενέργεια
Name[en_GB]=Power
Name[eo]=Elektro
Name[es]=Energía
Name[et]=Vooluhaldus
Name[eu]=Energia
Name[fa]=انرژی
Name[fi]=Virransäästö
Name[fr]=Énergie
Name[fur]=Alimentazion
Name[ga]=Cumhacht
Name[gd]=Cumhachd
Name[gl]=Enerxía
Name[gu]=પાવર
Name[he]=חשמל
Name[hi]=पावर
Name[hr]=Energija
Name[hu]=Energiagazdálkodás
Name[id]=Daya
Name[is]=Aflstjórnun
Name[it]=Energia
Name[ja]=電源
Name[kk]=Эл. қорегі
Name[km]=ថាមពល
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ
Name[ko]=전원
Name[lt]=Energija
Name[lv]=Barošana
Name[mk]=Енергија
Name[mr]=पावर
Name[ms]=Kuasa
Name[nb]=Strøm
Name[ne]=पावर
Name[nl]=Energie
Name[nn]=Straum
Name[oc]=Energia
Name[or]=ଶକ୍ତି
Name[pa]=ਪਾਵਰ
Name[pl]=Zasilanie
Name[pt_BR]=Energia
Name[ro]=Consum
Name[ru]=Электропитание
Name[sk]=Napájanie
Name[sl]=Napajanje
Name[sr]=Напајање
Name[sr@latin]=Napajanje
Name[sv]=Ström
Name[ta]=சக்தி
Name[te]=విద్యుత్
Name[tg]=Барқ
Name[tr]=Güç
Name[ug]=توك مەنبە
Name[uk]=Живлення
Name[vi]=Nguồn điện
Name[zh_CN]=电源
Name[zh_HK]=電源
Name[zh_TW]=電源
Name=Power
Comment[af]=Bekyk batterystatus en verander instellings vir kragbesparing
Comment[an]=Veyer o estau d'a batería y cambiar a configuración d'estalbio d'enerchía
Comment[ar]=اعرض حالة البطارية و غيّر إعدادات توفير الطاقة
Comment[as]=আপোনাৰ বেটাৰিৰ অৱস্থা চাওক আৰু শক্তি সংৰক্ষণ সংহতিসমূহ পৰিবৰ্তন কৰক
Comment[be]=Прагляд стану акумулятара і настройка ашчаджэння энергіі
Comment[bg]=Преглед на състоянието на батерията и промяна на настройките на енергоспестяването
Comment[bn_IN]=অাপনার ব্যাটারির স্থিতি দেখুন এবং পাওয়ার সঞ্চয় সেটিং পরিবর্তন করুন
Comment[bs]=Prikaži stanje baterije i promijeni postavke čuvanja energije
Comment[ca]=Visualitzeu l'estat de la bateria i canvieu els paràmetres d'estalvi d'energia
Comment[ca@valencia]=Visualitzeu l'estat de la bateria i canvieu els paràmetres d'estalvi d'energia
Comment[cs]=Zobrazit stav baterie a změnit nastavení šetření energií
Comment[da]=Vis din batteristatus og skift indstillinger for strømstyring
Comment[de]=Den Status Ihres Akkus anzeigen und die Energiespareinstellungen ändern
Comment[el]=Δείτε την κατάστασης της μπαταρίας σας και αλλάξτε τις ρυθμίσεις αποθήκευσης ενέργειας
Comment[en_GB]=View your battery status and change power saving settings
Comment[eo]=Vidu vian baterian staton kaj elektu elektroŝparajn funkciojn
Comment[es]=Ver el estado de la batería y cambiar la configuración de ahorro de energía
Comment[et]=Aku oleku vaatamine ja voolusäästu sätete muutmine
Comment[eu]=Ikusi bateriaren egoera eta aldatu energia aurrezteko ezarpenak
Comment[fa]=وضعیت باتری خود را دیده و تنظیمات ذخیرهٔ انرژی را تغییر دهید
Comment[fi]=Tarkkaile akkusi tilaa ja muuta virransäästöasetuksia
Comment[fr]=S’informer sur l’état de la batterie et modifier les paramètres d’économie d’énergie
Comment[fur]=Mostre il stât de batarie e cambie lis impostazions di sparagn energjetic
Comment[gd]=Seall ìre a’ bhataraidh agad is atharraich roghainnean caomhnadh na cumhachd
Comment[gl]=Vexa o estado da súa batería e cambie as preferencias de aforro de enerxía
Comment[gu]=તમારી બેટરી સ્થિતિને જુઓ અને પાવર સંગ્રહ સુયોજનોને બદલો
Comment[he]=הצגת מצב הסוללה שלך ושינוי הגדרות חיסכון בחשמל
Comment[hi]=अपनी बैटरी की स्थिति और परिवर्तन बिजली की बचत सेटिंग्स देखें
Comment[hr]=Pogledajte svoje stanje baterije i promijenite postavke štednje energije
Comment[hu]=Akkumulátorállapot megjelenítése és energiagazdálkodási beállítások módosítása
Comment[id]=Tilik status baterai Anda dan ubah pengaturan penghematan daya
Comment[is]=Skoða ástand rafhlöðu og sýsla með orkustillingar
Comment[it]=Visualizza lo stato della batteria e cambia le impostazioni di risparmio energetico
Comment[ja]=バッテリー状態の表示、省電力の設定をします
Comment[kk]=Батарея қалып-күйін және эл. қорегін сақтауды баптау
Comment[kn]=ಬ್ಯಾಟರಿ ಸ್ಥಿತಿಯನ್ನು ನೋಡು ಮತ್ತು ವಿದ್ಯುಚ್ಛಕ್ತಿ ಉಳಿಸುವ ಸಿದ್ಧತೆಗಳನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=배터리 상태를 보고 절전 설정을 바꿉니다
Comment[lt]=Rodyti baterijos būseną ir keisti energijos taupymo nustatymus
Comment[lv]=Skatīt baterijas statusu un mainīt enerģijas taupīšanas iestatījumus
Comment[ml]=ബാറ്ററിയുടെ സ്ഥിതി നോക്കി വൈദ്യുതി ലഭിക്കുക
Comment[mr]=बॅटरि स्थितीचे अवलोकन करा आणि पावर साठवण्याच्या सेटिंग्ज बदलवा
Comment[ms]=Lihat status bateri anda dan ubah tetapan penjimatan kuasa
Comment[nb]=Vis batteristatus og endre innstillinger for strømsparing
Comment[nl]=De accustatus bekijken en instellingen voor energiebesparing wijzigen
Comment[oc]=S'informar sus l'estat de la batariá e modificar los paramètres d'estalvi d'energia
Comment[or]=ଆପଣଙ୍କର ବ୍ୟାଟେରୀ ଶକ୍ତି ଦେଖନ୍ତୁ ଏବଂ ଶକ୍ତି ସଂରକ୍ଷଣ ସଂରଚନାକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਬੈਟਰੀ ਦੀ ਸਥਿਤੀ ਵੇਖੋ ਅਤੇ ਪਾਵਰ ਬੱਚਤ ਸੈਟਿੰਗ ਬਦਲੋ
Comment[pl]=Wyświetlanie stanu naładowania akumulatora i zmiana ustawień oszczędzania energii
Comment[pt]=Ver o estado da sua bateria e alterar definições de poupança de energia
Comment[pt_BR]=Veja o status da sua bateria e altere as configurações de economia de energia
Comment[ro]=Stare baterie și schimbare setări consum energie
Comment[ru]=Просмотр состояния батареи и изменение параметров энергосбережения
Comment[sk]=Zobrazuje stav vašej batérie a umožňuje zmenu nastavení šetrenia energie
Comment[sl]=Oglejte si stanje baterije in spremenite nastavitve varčevanje z energijo
Comment[sr]=Погледајте стање ваше батерије и измените подешавања уштеде напајања
Comment[sr@latin]=Pogledajte stanje vaše baterije i izmenite podešavanja uštede napajanja
Comment[sv]=Visa din batteristatus och ändra energisparinställningar
Comment[ta]=பேட்டரி நிலையைக் கண்டு மின்சக்தி சேமிப்பு அமைவுகளை மாற்றவும்
Comment[te]=మీ బ్యాటరీ స్థితి దర్శించి మరియు విద్యుత్ ఆదా అమరికలను మార్చు
Comment[tg]=Намоиш додани вазъияти батарея ва тағйир додани танзимоти захиракунии барқ
Comment[th]=ดูสถานะแบตเตอรี่และตั้งค่าการประหยัดพลังงาน
Comment[tr]=Pil durumunuzu görüntüleyin ve güç koruma ayarlarını değiştirin
Comment[uk]=Переглянути стан вашої батареї і змінити параметри заощадження енергії
Comment[vi]=Hiển thị trạng thái pin và thay đổi cài đặt chế độ tiết kiệm pin
Comment[zh_CN]=查看电池状态并更改省电设置
Comment[zh_HK]=檢視你的電池狀態並改變電源節省設定值
Comment[zh_TW]=檢視您的電池狀態並改變電源節省設定值
Comment=View your battery status and change power saving settings
Exec=gnome-control-center power
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=gnome-power-manager
Icon[be]=gnome-power-manager
Icon[gd]=gnome-power-manager
Icon[kk]=gnome-power-manager
Icon[lv]=gnome-power-manager
Icon[sr@latin]=gnome-power-manager
Icon[vi]=gnome-power-manager
Icon=gnome-power-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=power
X-GNOME-Bugzilla-Version=3.36.1
# Translators: Search terms to find the Power panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=krag;slaap;sluimer;hiberneer;battery;helderheid;verdof;blanko;monitor;DPMS;onaktief;
Keywords[an]=Enerchía;Adormir;Suspender;Hibernar;Batería;Brilo;Amortar;Monitor;DPMS;inactivo;
Keywords[ar]=طاقة;سبات;تعليق;بطارية;إضاءة;شاشة;إسبات;
Keywords[as]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Keywords[be]=Энергія;Сілкаванне;Сон;Супынак;Гібернацыя;Батарэя;Акумулятар;Яркасць;Зацяненне;Ачыстка;Манітор;DPMS;Бяздзейнасць;
Keywords[bg]=захранване;дълбоко;приспиване;заспиване;батерия;яркост;затъмняване;изчистване;екран;капак;бездействие;power;sleep;suspend;hibernate;battery;brightness;dim;blank;monitor;idle;
Keywords[bn_IN]=পাওয়ার;ঘুমন্ত;বিলম্ব;হাইবারনেট;ব্যাটারি;উজ্জ্বলতা;অন্ধকারময়;খালি;মনিটর;DPMS;নিশ্চল;
Keywords[bs]=Energija;Uspavaj;Obustavi;Zaledi;Baterija;Osvjetljenost;Zamrači;Prazan;Monitor;DPMS;Nepomičan;
Keywords[ca]=Energia;Baix consum;Aturada temporal;Hibernació;Bateria;Brillantor;Atenuar;En blanc;Monitor;DPMS;Inactiu;
Keywords[ca@valencia]=Energia;Baix consum;Aturada temporal;Hibernació;Bateria;Brillantor;Atenuar;En blanc;Monitor;DPMS;Inactiu;
Keywords[crh]=Qudret;Yuqu;Sarqıt;Yuqlat;Pil;Parlaqlıq;Sönükleştir;Boş;Monitor;DPMS;Atıl;
Keywords[cs]=napájení;uspání;uspání do paměti;uspání na disk;baterie;jas;ztlumit;monitor;DPMS;neaktivní;
Keywords[da]=Strøm;Sove;Hvile;Dvale;Batteri;Lysstyrke;Dæmp;Dæmpning;Blank;Sort;Skærm;DPMS;Tomgang;Inaktiv;
Keywords[de]=Energie;Schlafmodus;Bereitschaft;Ruhezustand;Akku;Helligkeit;Abdunkeln;Abschalten;Bildschirm;DPMS;
Keywords[el]=Ισχύς;Ενέργεια;Ρεύμα;Ύπνωση;Αναστολή;Αδρανοποίηση;Μπαταρία;Φωτεινότητα;Αμυδρό;Κενό;Οθόνη;DPMS;Αδρανές;Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;Idle;
Keywords[en_GB]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Keywords[eo]=Kurento;Elektro;Dormeti;Pasivumigi;Baterio;Heleco;Malheligi;Malplena;Ekrano;DPMS;Senokupo;
Keywords[es]=Energía;Dormir;Suspender;Hibernar;Batería;Brillo;Apagar;Monitor;DPMS;inactivo;
Keywords[et]=vool;uni;uinak;talveuni;talveuinak;aku;hiberneerimine;peatamine;heledus;monitor;kuvar;ekraan;DPMS;jõudeolek;seisak;
Keywords[eu]=Energia;Lo egin;Eseki;Hibernatu;Bateria;Distira;Itzali;Belztu;Monitorea;DPMS;Inaktibo;
Keywords[fa]=انرژی؛خوابیدن؛تعلیق؛خواب زمستانی؛باتری؛روشنایی;Dim;خالی;صفحه‌نمایش;DPMS;بیکار;Power;Sleep;Suspend;Hibernate;Battery;Brightness;Blank;Monitor;Idle;
Keywords[fi]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;virta;uni;valmiustila;lepotila;akku;kirkkaus;himmennys;tyhjä;näyttö;jouten;virransäästö;
Keywords[fr]=Énergie;Alimentation;Veille;Suspension;Hibernation;Batterie;Luminosité;Assombrir;Noir;Écran;DPMS;Inactif;
Keywords[fur]=Alimentazion;Sleep;Sospension;Ibernazion;Batarie;Luminositât;Visôr;Dim;DPMS;
Keywords[gd]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;cumhachd;cadal;dàil;cadal-geamhraidh;bataraidh;soilleireachd;doilleireachd;bàn;monatair;tàmh;
Keywords[gl]=Enerxía;Durmir;Suspender;Hibernar;Batería;Brillo;Escurecer;En branco;Monitor;DPMS;Inactivo;
Keywords[gu]=પાવર;સ્લીપ;સ્થગિત;હાઇબરનેટ;બેટરી;પ્રકાશતા;ઝાંખુ;ખાલી;મોનિટર;DPMS;નિષ્ક્રિય;
Keywords[he]=צריכת חשמל;שינה;השהיה;תרדמת;סוללה;בהירות;עמעום;החשכה;ריק;צג;בהמתנה;המתנה;
Keywords[hi]=पावर;नींद;निलंबित करें; सीतनिद्रा में होना; बैटरी;चमक;मंद;खाली;मॉनिटर;DPMS;निष्क्रिय;
Keywords[hr]=Energija;Spavanje;Suspenzija;Hibernacija;Baterija;Svjetlina;Zatamnjenje;Tamno;Zaslon;DPMS;Mirovanje;
Keywords[hu]=Energia;Energiagazdálkodás;Alvás;Felfüggesztés;Hibernálás;Akkumulátor;Telep;Elsötétítés;Elhalványítás;Monitor;DPMS;Üresjárat;
Keywords[id]=Daya;Tidur;Suspensi;Hibernasi;Baterai;Kecerahan;Redup;Kosong;Monitor;DPMS;Menganggur;
Keywords[is]=orka;svæfa;bið;dvali;rafhlaða;birta;dimma;slökkva;skjár;DPMS;afl;iðjulaus;
Keywords[it]=alimentazione;power;sleep;sospensione;ibernazione;batteria;luminosità;monitor;schermo;dim;abbassare;oscurare;DPMS;inattivo;
Keywords[ja]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;電源;スリープ;サスペンド;ハイバネート;バッテリー;明るさ;ブランクスクリーン;モニター;画面;ディスプレイ;アイドル;待機;
Keywords[kk]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Эл. қорегі;Ұйқы;Ұйықтату;Гибернация;Батарея;Жарықтылық;Басу;Бос;Монитор;Іссіз;
Keywords[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ;ನಿದ್ರಿಸು;ಅಮಾನತು;ಹೈಬರ್ನೇಟ್;ಬ್ಯಾಟರಿ;ಪ್ರಕಾಶತೆ;ಮಂದ;ಖಾಲಿ;ತೆರೆ;DPMS;ಜಡ;
Keywords[ko]=Power;전원;Sleep;절전;Suspend;대기 모드;Hibernate;최대 절전;Battery;배터리;Brightness;밝기;Dim;어둡게;Blank;Monitor;모니터;DPMS;Idle;입력;
Keywords[lt]=Energija;Miegoti;Pristabdyti;Užmigdyti;Akumuliatorius;šviesumas;Pritemdyti;Tuščias;Monitorius;DPMS;Laisva;
Keywords[lv]=Barošana;Snaust;Snaušana;Gulēt;Gulēšana;Baterija;Strāva;Gaišums;Tumšāk;Tumšs;Monitors;DPMS;Dīkstāve;
Keywords[mjw]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Keywords[ml]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Keywords[mr]=पावर;स्लीप;सस्पेंड;हायबरनेट;बटरि;उजळपणा;मंद;रिक्त;मॉनिटर;डीपीएमएस;आइडल;
Keywords[ms]=Kuasa;Tidur;Tangguh;Hibernasi;Bateri;Kecerahan;Malap;Gelap;Monitor;DPMS;Melahu;
Keywords[nb]=Strøm;Sove;Hvile;Dvale;Batteri;Lysstyrke;Demp;Slå av;Skjerm;DPMS;Inaktiv;
Keywords[nl]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Helderheid;Dim;Blank;Monitor;Beeldscherm;DPMS;Idle;Energie;Slaapstand;Pauzestand;Accu;
Keywords[oc]=Energia;Alimentacion;Velha;Suspension;Ivernacion;Batariá;Luminositat;Escurezir;Negre;Ecran;DPMS;Inactiu;
Keywords[or]=ଶକ୍ତି;ସୁପ୍ତ;ନିଲମ୍ବିତ;ହାଇବରନେଟ;ବ୍ୟାଟେରୀ;ଉଜ୍ଜ୍ୱଳତା;ଡ଼ିମ;ଖାଲି;ମନିଟର;DPMS;ନିଷ୍କ୍ରିୟ;
Keywords[pa]=ਸਕਰੀਨ;ਚਮਕ;ਵੇਹਲਾ;ਪਾਵਰ;ਸਲੀਪ;ਸਸਪੈਂਡ;ਹਾਈਬਰਨੇਟ;ਬੈਟਰੀ;ਵੇਹਲ;ਡਿਮ;ਖਾਲੀ;ਮਾਨੀਟਰ;ਡੀਪੀਐਮਐਸ;ਮੁਅੱਤਲ;
Keywords[pl]=Zasilanie;Energia;Prąd;Oszczędzanie;Uśpienie;Wstrzymanie;Hibernacja;Uśpij;Wyłącz;Wstrzymaj;Hibernuj;Akumulator;Bateria;Jasność;Przygaszenie;Wygaszenie;Monitor;DPMS;Bezczynność;Nieaktywność;Wi-Fi;Wifi;Bluetooth;Bezprzewodowe;Wireless;
Keywords[pt]=Energia;Dormir;Suspender;Hibernar;Bateria;Brilho;Escurecer;Desligar;Monitor;DPMS;Inativo;
Keywords[pt_BR]=Energia;Dormir;Suspender;Hibernar;Bateria;Brilho;Escurecer;Vazio;Branca;Monitor;DPMS;Inativo;
Keywords[ro]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Keywords[ru]=Электропитание;Спящий;Ждущий;Батарея;Яркость;Затемнение;Экран;DPMS;Бездействующий;
Keywords[sk]=Napájanie;Uspať;Hibernovať;Batéria;Jas;Stmavenie;Prázdny;Displej;Obrazovka;DPMS;Nečinnosť;
Keywords[sl]=v delovanju;v pripravljenosti;hiberniranje;v mirovanju;baterija;zaslon;DPMS;nedejavnost;svetlost;
Keywords[sr]=напајање;спавање;обустава;замрзавање;батерија;осветљај;затамњење;монитор;ДПМС;мировање;
Keywords[sr@latin]=napajanje;spavanje;obustava;zamrzavanje;baterija;osvetljaj;zatamnjenje;monitor;DPMS;mirovanje;
Keywords[sv]=Ström;Sova;Vänteläge;Viloläge;Batteri;Ljusstyrka;Dämpa; Blank;Skärm;DPMS;inaktiv;
Keywords[ta]=சக்தி;உறங்கு;இடைநிறுத்தம்;பேட்டரி;பிரகாசம்;மங்கல்;வெற்று;மானிட்டர்;DPMS;செயலின்றி;
Keywords[te]=విద్యుత్;నిద్రావస్థ;నిలిపివేయి;సుప్తావస్థ;బ్యాటరీ;ప్రకాశత;డిమ్;శూన్యం;మానిటర్;DPMS;నిష్క్రియ;
Keywords[tg]=Барқ;Хоб;Таваққуф;Гибернатсия;Батарея;Дурахшонӣ;Камнур;Холӣ;Монитор;DPMS;Беҳаракат;
Keywords[th]=พลังงาน;หลับ;พักเครื่อง;จำศีลเครื่อง;แบตเตอรี่;ความสว่าง;หรี่;ว่าง;จอภาพ;DPMS;ไม่ใช้งาน;
Keywords[tr]=Güç;Uyku;Bekleme;Derin Uyku;Pil;Parlaklık;Karartma;Monitör;DPMS;Boşta;
Keywords[uk]=Живлення;Сон;Призупинити;Приспати;Батарея;Яскравість;Затемнення;Порожній;DPMS;Бездіяльність;
Keywords[vi]=Power;Nguồn;Nguon;dien;Sleep;Ngủ;Ngu;Suspend;Ngưng;Ngung;Hibernate;Battery;Pin;Brightness;Sáng;sang;Dim;Tối;toi;Blank;Trắng;Trống;trong;trang;Monitor;Màn;Hình;man;hinh;DPMS;Idle;Rảnh;ranh;
Keywords[zh_CN]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;电源;睡眠;挂起;休眠;电池;亮度;暗;空白;监视器;显示器;空闲;
Keywords[zh_HK]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;電源;睡眠;暫停;休眠;電池;亮度;轉黑;顯示器;閒置;
Keywords[zh_TW]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;電源;睡眠;暫停;休眠;電池;亮度;轉黑;顯示器;閒置;
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
# Notifications are emitted by gnome-settings-daemon
X-GNOME-UsesNotifications=true
