[Desktop Entry]
Name[be]=Thunderbolt
Name[ca]=Thunderbolt
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[el]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[eo]=Thunderbolt
Name[es]=Thunderbolt
Name[eu]=Thunderbolt
Name[fa]=تاندربولت
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[fur]=Thunderbolt
Name[gl]=Thunderbolt
Name[he]=Thunderbolt
Name[hr]=Thunderbolt
Name[hu]=Thunderbolt
Name[id]=Thunderbolt
Name[is]=Thunderbolt
Name[it]=Thunderbolt
Name[ja]=Thunderbolt
Name[kk]=Thunderbolt
Name[ko]=썬더볼트
Name[lt]=Thunderbolt
Name[lv]=Thunderbolt
Name[mjw]=Thunderbolt
Name[ms]=Thunderbolt
Name[nb]=Thunderbolt
Name[nl]=Thunderbolt
Name[oc]=Thunderbolt
Name[pa]=ਥੰਡਰਬੋਲਟ
Name[pl]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ro]=Thunderbolt
Name[ru]=Thunderbolt
Name[sk]=Thunderbolt
Name[sl]=Thunderbolt
Name[sr]=Тандерболт
Name[sv]=Thunderbolt
Name[tr]=Thunderbolt
Name[uk]=Thunderbolt
Name[zh_CN]=Thunderbolt
Name[zh_TW]=Thunderbolt
Name=Thunderbolt
Comment[be]=Кіраваць прыладамі Thunderbolt
Comment[ca]=Administra dispositius Thunderbolt
Comment[cs]=Spravujte zařízení Thunderbolt
Comment[da]=Håndtér Thunderbolt-enheder
Comment[de]=Thunderbolt-Geräte verwalten
Comment[el]=Διαχείριση συσκευών Thunderbolt
Comment[en_GB]=Manage Thunderbolt devices
Comment[eo]=Mastrumi Thunderbolt aparatojn
Comment[es]=Gestionar dispositivos Thunderbolt
Comment[eu]=Kudeatu Thunderbolt gailuak
Comment[fa]=مدیریت دستگاه‌های تاندربولت
Comment[fi]=Hallitse Thunderbolt-laitteita
Comment[fr]=Gérer les périphériques Thunderbolt
Comment[fur]=Gjestìs i dispositîfs Thunderbolt
Comment[gl]=Xestionar dispositivos Thunderbolt
Comment[he]=ניהול התקני Thunderbolt
Comment[hr]=Upravljaj Thunderbolt uređajima
Comment[hu]=Thunderbolt eszközök kezelése
Comment[id]=Kelola perangkat Thunderbolt
Comment[is]=Sýsla með Thunderbolt-tæki
Comment[it]=Gestisce dispositivi Thunderbolt
Comment[ja]=Thunderbolt デバイスを管理します
Comment[kk]=Thunderbolt құрылғыларын басқару
Comment[ko]=썬더볼트 장치를 관리합니다
Comment[lt]=Tvarkyti Thunderbolt įrenginius
Comment[lv]=Pārvaldīt Thunderbolt ierīces
Comment[ms]=Urus peranti-peranti Thunderbolt
Comment[nb]=Håndter Thunderbolt-enheter
Comment[nl]=Thunderbolt-apparaten beheren
Comment[oc]=Gerir los periferics Thunderbolt
Comment[pa]=ਥੰਡਰਬੋਲਟ ਡਿਵਾਈਸਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzanie urządzeniami Thunderbolt
Comment[pt_BR]=Gerencie dispositivos Thunderbolt
Comment[ro]=Administrează dispozitive Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sk]=Spravuje zariadenia Thunderbolt
Comment[sl]=Upravljanje naprav Thunderbolt
Comment[sr]=Управљај Тандерболт уређајима
Comment[sv]=Hantera Thunderbolt-enheter
Comment[tr]=Thunderbolt aygıtlarını yönet
Comment[uk]=Керування пристроями Thunderbolt
Comment[zh_CN]=管理 Thunderbolt 设备
Comment[zh_TW]=管理 Thunderbolt 裝置
Comment=Manage Thunderbolt devices
Exec=gnome-control-center thunderbolt
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[be]=thunderbolt
Icon[kk]=thunderbolt
Icon[lv]=thunderbolt
Icon=thunderbolt
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=thunderbolt
X-GNOME-Bugzilla-Version=3.36.1
# Translators: those are keywords for the thunderbolt control-center panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Thunderbolt;
Keywords[ca]=Thunderbolt;
Keywords[cs]=Thunderbolt;
Keywords[da]=Thunderbolt;
Keywords[de]=Thunderbolt;
Keywords[el]=Thunderbolt;
Keywords[en_GB]=Thunderbolt;
Keywords[eo]=Thunderbolt;
Keywords[es]=Thunderbolt;
Keywords[eu]=Thunderbolt;
Keywords[fa]=Thunderbolt;تاندربولت;
Keywords[fi]=Thunderbolt;
Keywords[fr]=Thunderbolt;
Keywords[fur]=Thunderbolt;
Keywords[gl]=Thunderbolt;
Keywords[he]=Thunderbolt;
Keywords[hr]=Thunderbolt;
Keywords[hu]=Thunderbolt;
Keywords[id]=Thunderbolt;
Keywords[is]=Thunderbolt;
Keywords[it]=Thunderbolt;
Keywords[ja]=Thunderbolt;
Keywords[kk]=Thunderbolt;
Keywords[ko]=Thunderbolt;썬더볼트;선더볼트;
Keywords[lt]=Thunderbolt;
Keywords[lv]=Thunderbolt;
Keywords[mjw]=Thunderbolt;
Keywords[ms]=Thunderbolt;
Keywords[nb]=Thunderbolt;
Keywords[nl]=Thunderbolt;
Keywords[oc]=Thunderbolt;
Keywords[pa]=ਥੰਡਰਬੋਲਟ;
Keywords[pl]=Thunderbolt;
Keywords[pt_BR]=Thunderbolt;
Keywords[ro]=Thunderbolt;
Keywords[ru]=Thunderbolt;
Keywords[sk]=Thunderbolt;
Keywords[sl]=Thunderbolt;
Keywords[sr]=Thunderbolt;Тандерболт;Тхундерболт;Tanderbolt;
Keywords[sv]=Thunderbolt;
Keywords[tr]=Thunderbolt;
Keywords[uk]=Thunderbolt;тандерболт;
Keywords[zh_CN]=Thunderbolt;
Keywords[zh_TW]=Thunderbolt;
Keywords=Thunderbolt;
